<!DOCTYPE html>
<html>
<head>
    <title>Admin Login – Fraud Rescue</title>
    { url_for('static', filename='css/style.css') }}

<section class="admin-section">
    <img src="{{ url_for('static', filename='logo.svg') }}" alt="Fraud Rescue Logo">
        <h2>Administrator Login</h2>

        /login method="POST">
            <label>Username</label>
            <input name="user" required>

            <label>Password</label>
            <input type="password" name="pw" required>

            <button class="cta-button">Login</button>
        </form>
    </div>
</section>

</body>
</html>
